body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-modal .modal-content{
  background: none !important;
  border: 0 !important;
}
.nav-item a, .nav-item a:hover{
  color: unset;
  text-decoration: none;
}
body{
  padding-top: 55px;
}
.table-custom th, .table-custom td{
  border-top:none !important
}